source https://www.nuget.org/api/v2
storage:none

clitool dotnet-fable
nuget Fable.Core
nuget Fable.Import.Node
nuget Fable.Import.Browser
nuget Fable.Import.Jest

group Build
  source https://nuget.org/api/v2
  nuget FAKE
  github fable-compiler/fake-helpers Fable.FakeHelpers.fs
